        {
        box-sizing: border-box;
    }
    
    header {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        background-color: brown;
        color: black;
        padding: 2rem 5rem;
        transition-property: all;
        transition-duration: 3s;
        transition-timing-function: cubic-bezier(.67, .71, .86, .12);
    }
    
    body>header {
        background-image: url("../images/background\ _image_planes.jpeg");
        object-fit: cover;
        background-size: cover;
        background-position: right center;
        border: 2px solid;
        color: azure;
        resize: vertical;
        background-repeat: no-repeat;
    }
    
    .item {
        margin: 1rem;
        padding: 1rem;
        color: azure
    }
    
    .flex-wrapper,
    {
        display: flex;
        float: left;
    }
    
    nav {
        width: 17%;
    }
    
    nav ul {
        list-style: none;
    }
    
    nav a {
        color: inherit;
        text-decoration: none;
    }
    
    #menu,
    main,
    aside {
        display: table-cell;
        form ul {
            list-style: none;
        }